<html>

<head>
  <title>Login</title>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/secret">Secret Page</a></li>
    </ul>
  </nav>


  <main>
    <h1>Login</h1>
    <form aciton="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" />

      <label for="password">Password</label>
      <input type="password" id="password" name="password" />

      <input type="submit" />
    </form>
  </main>
</body>

</html>
